html, body {
    overflow-x: hidden;
}
p{
    @extend .fw-light;
}
body {
    direction: ltr;
    font-family: Iransans;
}

.text-justify{
    text-align: justify;
}
.object-fit{
    object-fit: cover;
}

.transparent{
    opacity: 0.3;
}
.z-top{
    z-index: 2;
}
.z-below{
    z-index: 1;
}

.lazy{
    transition: all 0.3s ease-in-out;
}
.lazy-slow{
    transition: all 0.9s ease-in-out;
}

